<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="root-host" value="http://localhost:3001"/>
    <add key="root-socket" value="http://localhost:3001"/>
    <add key="get-list-server" value="http://localhost:3001/server/list"/>
    <add key="get-command-play" value="http://localhost:3001/play/get-command/"/>
    <add key="confirm-play" value="http://localhost:3001/play/confirm"/>
  </appSettings>
</configuration>